*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#calculator{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#display{
  height: 40px;
  padding: 20px 5px;
  text-align: start;
  width: 160px;
  border: 1px black solid;
}
.rows{
  display:flex
}
.rows button{
  width: 40px;
  height: 40px;
  border: 10px;
}